# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
**/.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Android build and ephemeral
/android/app/debug
/android/app/profile
/android/app/release
/android/.gradle
.gradle/
local.properties

# iOS / macOS build and ephemeral
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/app.framework
**/macos/Pods/
**/macos/Flutter/ephemeral/

# Windows / Linux ephemeral
**/windows/flutter/ephemeral/
**/linux/flutter/ephemeral/

# Symbolication & Obfuscation
app.*.symbols
app.*.map.json

